
	<footer>
		<div class="inner-footer">
			<div class="container">
				<div class="row">
					
					<div class="col-md-4 mx-auto f-contact">
						<h3 class="widgetheading">Stay in touch</h3>
						<a href= "mailto:dr.udu@gmail.com"><p><i class="fa fa-envelope"></i> ela-app@gmail.com</p></a>
						<p><i class="fa fa-phone"></i>  07063419292,08089657753, 07033288348</p>
						<p><i class=""></i> 
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="last-div">
			<div class="container">
				<div class="row">
					<div class="copyright">
						© {%  now "Y" %} Ela App | <a> OTA</a>
					</div>
                    <!--
                        All links in the footer should remain intact.
                        Licenseing information is available at: http://bootstraptaste.com/license/
                        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Dewi
                    
					<nav class="foot-nav">
						<ul>
							<li><a href= "#">Home</a></li>
							<li><a href= "#">Services</a></li>
							<li><a href= "#">Blog</a></li>
							<li><a href= "#">Portfolio</a></li>
							<li><a href= "#">Contact</a></li>
						</ul>
					</nav>-->
					<div class="clear"></div>
				</div>
			</div>
			<a  class="scrollup" style="display: none;"><i class="fa fa-chevron-up"></i></a>
		</div>
	</footer>